/***************************************************/
/* We use the @tailwind directive to inject Tailwind's base, component, and utility styles. */
/* According to the official docs Payload we must omit the @tailwind base import. */
/* More infos can be found here: https://payloadcms.com/blog/how-to-setup-tailwindcss-and-shadcn-ui-in-payload */
/***************************************************/
@tailwind components;
@tailwind utilities;
/***************************************************/

// increase the space after the collection / globals description
.view-description {
  margin-bottom: 60px;
}

.step-nav__home svg {
  width: 18px;
  height: 18px;
}

@media (width <= 1024px) {
  .step-nav .step-nav__home {
    width: 18px;
    height: 18px;
  }
}
