/**
 * This file is used for custom styles in the Payload admin panel which
 * cannot be realized using Tailwind CSS.
 */

// increase the space after the collection / globals description
.view-description {
  margin-bottom: 60px;
}

.step-nav__home svg {
  width: 18px;
  height: 18px;
}

@media (width <= 1024px) {
  .step-nav .step-nav__home {
    width: 18px;
    height: 18px;
  }
}

.admin-panel-blur {
  filter: blur(12px);
}
