/**
 * This file is used for custom styles in the Payload admin panel which
 * cannot be realized using Tailwind CSS.
 */

// increase the space after the collection / globals description
.view-description {
  margin-bottom: 60px;
}

.step-nav__home svg {
  width: 18px;
  height: 18px;
}

@media (width <= 1024px) {
  .step-nav .step-nav__home {
    width: 18px;
    height: 18px;
  }
}

.admin-panel-blur {
  filter: blur(12px);
}

/**
 *
 * Due to our custom implementation of the multi-lang publishing feature,
 * we need to disable the default "Unpublish" action. 
 *
 * We don't need to secure the actions on the backend, as an authenticated user
 * would have anyway the necessary permissions to publish/unpublish documents
 * (i.e., we assume that we can trust the user in that regard).
 *
 */
button#action-unpublish,
div#action-unpublish-popup {
  display: none;
}
