services:
  payload:
    image: registry.cevi.tools/cevi/conveniat27-webpage:dev
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_VAPID_PUBLIC_KEY=BLXA-pUY_vYom2sNw8BGmZHgJGUJvyNwwJ6ZomTm3Liv0Gs7rGrqlGMEwBobN9pVwb-OhJFAlxy-UwHI3fCQ250
        - NEXT_PUBLIC_APP_HOST_URL=https://conveniat27.cevi.tools
        - NEXT_PUBLIC_POSTHOG_KEY=phc_QXeG5AHoyxCVCcIse8a2rriQKZgAwkk3vO15Zz0aDud
        - NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
        - POSTHOG_API_KEY=${POSTHOG_API_KEY}
        - POSTHOG_ENV_ID=${POSTHOG_ENV_ID}

    deploy:
      replicas: 2

      update_config:
        parallelism: 1 # Update one replica at a time
        delay: 0s # No delay between updates
        order: start-first # Start new containers before stopping old ones
        monitor: 5s # Time to wait after an update to monitor for failure
        failure_action: continue # What to do if an update fails
        max_failure_ratio: 0.0 # Fail immediately if any container fails during update

      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 60s

      labels:
        - swarmpit.service.deployment.autoredeploy=true

        # Enable Traefik for this service, to make it available in the public network
        - traefik.enable=true

        # Define a middleware for retrying failed requests.
        - traefik.http.middlewares.retry-middleware.retry.attempts=3
        - traefik.http.middlewares.retry-middleware.retry.initialinterval=50ms

        # HTTP gets redirected to HTTPS
        - traefik.http.routers.conveniat27-dev-router-http.rule=Host(`conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-router-http.entrypoints=web
        - traefik.http.routers.conveniat27-dev-router-http.middlewares=redirect-to-https@file

        - traefik.http.routers.conveniat27-dev-router.rule=Host(`conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-router.entrypoints=websecure
        - traefik.http.routers.conveniat27-dev-router.service=conveniat27-dev

        - traefik.http.services.conveniat27-dev.loadbalancer.server.port=3000

        # Apply the retry middleware to this router
        - traefik.http.routers.conveniat27-dev-router.middlewares=retry-middleware

        # Add Traefik healthcheck labels
        - traefik.http.services.conveniat27-dev.loadbalancer.healthcheck.path=/status
        - traefik.http.services.conveniat27-dev.loadbalancer.healthcheck.interval=5s
        - traefik.http.services.conveniat27-dev.loadbalancer.healthcheck.timeout=3s

      resources:
        limits:
          cpus: '2.0'
          memory: 2048M

    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/next-cache:/app/.next/cache

    dns:
      - 8.8.8.8 # Replace with your desired DNS server

    depends_on:
      - mongo
      - redis
    env_file:
      - .env

    networks:
      - traefik-net
      - backend-net
      - observability-net

    healthcheck:
      test: ['CMD-SHELL', 'curl -fs http://localhost:3000/status | grep -q "status\":\"ok"']
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s

  mongo:
    image: mongo:latest
    command:
      - --storageEngine=wiredTiger
    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/mongodb-data:/data/db
    logging:
      driver: none

    networks:
      - backend-net

  minio:
    image: minio/minio

    deploy:
      labels:
        - swarmpit.service.deployment.autoredeploy=true
        - traefik.enable=true

        - traefik.http.routers.conveniat27-dev-minio-router-http.rule=Host(`minio.conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-minio-router-http.entrypoints=web
        - traefik.http.routers.conveniat27-dev-minio-router-http.middlewares=redirect-to-https@file

        - traefik.http.routers.conveniat27-dev-minio-router-console-http.rule=Host(`console-minio.conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-minio-router-console-http.entrypoints=web
        - traefik.http.routers.conveniat27-dev-minio-router-console-http.middlewares=redirect-to-https@file

        - traefik.http.routers.conveniat27-dev-minio-router.rule=Host(`minio.conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-minio-router.entrypoints=websecure
        - traefik.http.routers.conveniat27-dev-minio-router.service=conveniat27-dev-minio

        - traefik.http.routers.conveniat27-dev-console-minio-router.rule=Host(`console-minio.conveniat27.cevi.tools`)
        - traefik.http.routers.conveniat27-dev-console-minio-router.entrypoints=websecure
        - traefik.http.routers.conveniat27-dev-console-minio-router.service=conveniat27-dev-console-minio

        - traefik.http.services.conveniat27-dev-minio.loadbalancer.server.port=9000
        - traefik.http.services.conveniat27-dev-console-minio.loadbalancer.server.port=9001

    entrypoint: sh
    command: >
      -c "mkdir -p /data/${MINIO_BUCKET_NAME} && /usr/bin/minio server --console-address ':9001' /data &  sleep 10 && mc alias set myminio http://localhost:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} && mc admin user svcacct add --access-key '${MINIO_ACCESS_KEY_ID}' --secret-key '${MINIO_SECRET_ACCESS_KEY}' myminio ${MINIO_ROOT_USER} || true && echo 'minio is ready' && echo '{\"Rules\":[{\"ID\":\"DeleteTempFilesAfter24Hours\",\"Status\":\"Enabled\",\"Filter\":{\"Prefix\":\"temp/\"},\"Expiration\":{\"Days\":1}}]}' > /lifecycle.json && mc ilm import myminio/${MINIO_BUCKET_NAME} < /lifecycle.json || true && sleep infinity"

    env_file:
      - .env

    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/minio-data:/data

    networks:
      - traefik-net
      - backend-net
      - observability-net

  postgres:
    image: postgres:17

    env_file:
      - .env

    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/postgres:/var/lib/postgresql/data

    networks:
      - backend-net

  prometheus:
    image: prom/prometheus
    volumes:
      - /cluster/swarm/data/conveniat-dev/prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-remote-write-receiver'
      - '--enable-feature=exemplar-storage'
      - '--enable-feature=native-histograms'
    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml
    networks:
      - observability-net

  tempo:
    user: '0:0'
    image: grafana/tempo:latest
    command: ['-config.file=/etc/tempo/tempo.yml']
    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/tempo:/tmp/tempo
    configs:
      - source: tempo-config
        target: /etc/tempo/tempo.yml
    networks:
      - observability-net
      - backend-net

  loki:
    image: grafana/loki
    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/loki:/loki
    command:
      - --config.file=/mnt/config/loki-config.yml
    configs:
      - source: loki-config
        target: /mnt/config/loki-config.yml
    networks:
      - observability-net

  redis:
    image: redis:alpine
    networks:
      - backend-net
    volumes:
      - /cluster/dist_storage_insane/service_data/conveniat-dev/redis:/data
    logging:
      driver: none

configs:
  loki-config:
    name: loki_config_conveniat_dev-${STAMP:-0}
    file: /cluster/swarm/configs/conveniat27-dev/loki/loki-config.yml

  tempo-config:
    name: tempo_config_conveniat_dev-${STAMP:-0}
    file: /cluster/swarm/configs/conveniat27-dev/tempo/tempo.yml

  prometheus-config:
    name: prometheus_config_conveniat_dev-${STAMP:-0}
    file: /cluster/swarm/configs/conveniat27-dev/prometheus/prometheus.yml

networks:
  traefik-net:
    external: true

  backend-net:
    driver: overlay
    attachable: true

  observability-net:
    driver: overlay
    attachable: true
