/* We use the @tailwind directive to inject Tailwind's base, component, and utility styles. */
/***************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;
/***************************************************/

li {
  padding-left: 26px;
  list-style: none;
  background-image: url(/favicon.svg);
  background-repeat: no-repeat;
  background-position: 0 7px;
  background-size: 16px;
}

/* Adjust Size for Desktop */
@media (min-width: 1024px) {
  // tailwind lg <= x < xl
  html {
    font-size: 20px;
  }
}

/* Adjust Size for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  // tailwind md <= x < lg
  html {
    font-size: 18px;
  }
}

/* Adjust Size for Mobile */
@media (max-width: 767px) {
  // tailwind x < md
  html {
    font-size: 16px;
  }
}

// fix for shadcn-ui select,
// see https://github.com/shadcn-ui/ui/issues/4227#issuecomment-2438290165
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
