/* We use the @tailwind directive to inject Tailwind's base, component, and utility styles. */
/***************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;
/***************************************************/

/* Adjust Size for Wide Desktop */
@media (min-width: 1440px) {
  // tailwind xl <= x
  html {
    font-size: 24px;
  }
}

/* Adjust Size for Desktop */
@media (min-width: 1024px) and (max-width: 1439px) {
  // tailwind lg <= x < xl
  html {
    font-size: 20px;
  }
}

/* Adjust Size for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  // tailwind md <= x < lg
  html {
    font-size: 18px;
  }
}

/* Adjust Size for Mobile */
@media (max-width: 767px) {
  // tailwind x < md
  html {
    font-size: 16px;
  }
}
